
.container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 35px;
}
 


.container .infocard {
    height: 220px;
    max-width: 250px;
    position: relative;
    margin: 30px 10px;
    padding: 20px 25px;
    border-radius: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
} 
 

 
.container .infocard:hover {
height: 470px;
transition: 0.2s ease;    
}
 

.containe .infocard .imgbox {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
}
 

 
.container .infocard .imgbox img {
    max-width: 100%;
    border-radius: 4px;
}
 

 
.container .infocard .content {
    position: relative;
    margin-top: -100px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
 

 
.container .infocard:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -10px;
    transition-delay: 0.3s;
}.infocard{
    height: 220px;
    max-width: 250px;
    position: relative;
    margin: 30px 10px;
    padding: 20px 25px;
    border-radius: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}